$colorMain: #333333;
$colorGrey: #7C7C7C;
$colorGreyLight: #828282;
$colorGreyLegathy: #BDBDBD;
$colorMainBright: #131313;
$colorAccentBright: #0DB2B3;
$colorAccentDark: #0C797A;
$colorAccentLight: #D6ECEC;
$colorWhite: #ffffff;

$containerHorizontal: 30px;
$containerHorizontalOnPad: 35px;
$containerHorizontalOnDesktop: 125px;


